{% extends "base.html" %}
{% load static %}

{% block content %}
  <h3>Name: {{game.name}}</h3>
  <p>Slug: {{game.slug}}</p>
  <p>Description: {{game.description}}</p>
  <p>Image: {{game.image}}</p>
  <p>Thumbnail: {{game.thumbnail}}</p>
  <div>
    <a href="/">Back</a>
  </div>
{% endblock %}